<div class="main-container animated fadeIn fast">

    <div class="row">

        <div class="col-md-5">
            <img src="https://image.tmdb.org/t/p/w500{{person.profile_path}}" class="img-thumbnail img-fluid">
        </div>


        <div class="col-md-7">
            <h3>Biography</h3>
            <hr>
            <p class="text-justify">
                {{ person.biography }}
            </p>

            <p>
                Popularity: <span class="badge badge-primary">{{  person.popularity | number:".0-0" }}/10</span>
                <br>
                Birthday: <span class="badge badge-primary">{{ person.birthday | date: short }}</span>
            </p>

            <button (click)="goBack()" type="button" class="btn btn-outline-danger">
                Go back
            </button>

        </div>
    </div>