<form [formGroup]="filterForm"> 
<div class="discover-filters center">
    <mat-form-field>
      <mat-select role="list" [(ngModel)]="options.sort_by" placeholder="Sort By" formControlName="sortCategory" (selectionChange)="changeSelection()">
        <!-- <mat-option>None</mat-option> -->
        <mat-option role="option" *ngFor="let sort of sortByList" [value]="sort.key">{{sort.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select role="list" multiple [(ngModel)]="options.with_genres" placeholder="Genres" formControlName="genreCategory" (selectionChange)="changeSelection()">
        <mat-option role="option" *ngFor="let genres of genresList" [value]="genres.id">{{genres.name}}</mat-option>
      </mat-select>
    </mat-form-field> 
    <button id="clear-filters" class="center" (click)="clearFilters()" mat-raised-button>Clear Filters</button>
</div>
</form> 
  
