
<div id="search" class="center">
    <mat-form-field class="center" hideRequiredMarker floatLabel='auto' appearance='legacy'>
      <mat-label>Search People...</mat-label>
      <input #input required matInput (keyup)="searchPeople(input)">
    </mat-form-field>
  </div>
  
  <mat-grid-list class="center" cols="4" rowHeight="600px"  gutterSize='0px'>
    <ul *ngIf="people">
      <li *ngFor="let person of people"> 
          <mat-grid-tile>
  
              <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="center">{{ person.name }}</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image src="https://image.tmdb.org/t/p/w200{{person.profile_path}}">
                  <mat-card-actions class="center">
                      <button id="details" class="center" (click)="personSelected(person)" mat-raised-button>Person Details</button>
                  </mat-card-actions>
                </mat-card>
          </mat-grid-tile>
      </li>
    </ul>
  </mat-grid-list>
  
  
  
